* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 320px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.4);
    color: white;
    text-align: center;
}

.app-title {
    margin-bottom: 15px;
    font-size: 22px;
}

.song-info #title {
    font-size: 18px;
    font-weight: 600;
}

.song-info #artist {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 15px;
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 6px 0 15px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.controls button {
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.controls button:hover {
    background: white;
    color: black;
}

.play-btn {
    width: 55px;
    height: 55px;
    font-size: 20px;
}

.volume {
    display: flex;
    align-items: center;
    gap: 8px;
}
